#start,#stop{
   margin-left: 6%;
   margin-top: 4%;
   border-radius: 1rem;
   width: 15%;
   height: 20%;
   cursor: pointer;
   background-color: black;
   color: whitesmoke;
   font-weight: bold;
}

h2{
    margin-left: 5%;
}